.dropdown-container{
      /* width: auto; */
      height: auto;
      background: #fff;
      border: .5px solid #231f2027;
      z-index: 1000;
      border-radius: 5px;
}

.dropdown-arrow-top{
      width: 10px;
      height: 10px;
      background: #fff;
      position: absolute;
      top: -5px;
      transform: rotate(45deg);
      right: 0;
      margin-right: 38px;
      border-left: .5px solid #231f2027;
      border-top: .5px solid #231f2027;

}

.dropdown-container p{
      font-weight: 400;
	font-size: 12px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
	margin-left: 10px;   
}