/* default styles */

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

/* custom stylesheet */
.navbar-container {
	width: 100%;
	margin-right: 7%;
}
.navbar-content {
	width: 100%;
	height: 100%;
	display: flex;
	margin-top: 4%;
	justify-content: flex-end;
}

.navbar-notification {
      width: 2em;
      height: 2em;
	background: #9dbdaca8;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar-profile {
	width: 2em;
      height: 2em;
	margin-left: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar-dropdown {
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar-notification img {
	width: 55%;
	height: 55%;
}
.navbar-dropdown img {
	width: 30%;
	height: 30%;
}

.notifier {
	width: 10px;
	height: 10px;
	position: absolute;
	background: red;
	color: #fff;
	font-size: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
	border-radius: 40px;
	margin-top: -15px;
	margin-left: 10px;
}

.navbar-dropdown-container{
	width: auto;
	height: auto;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 170px;
	/* margin-left: 395px; */
	margin-top: 70px;
}

.navbar-notification-dropdown-container{
    width: 100%;
	height: auto;
	/* position: absolute; */
	/* margin-right: 360px; */
	/* margin-left: 210px; */
	margin-top: 45px;	
	display: flex;
	justify-content: flex-end;
}

.navbar-dropdown-container a{
	text-decoration: none;
	color: #000;
}

.navbar-dropdown-container a:hover{
	color: #000;
}