/* Predefine fonts */

@font-face {
	font-family: 'MontserratSemiBold';
	src: local('Montserrat-SemiBold'),
		url('../../Assets/Montserrat/Montserrat-SemiBold.ttf')
			format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'MontserratRegular';
	src: local('Montserrat-Regular'),
		url('../../Assets/Montserrat/Montserrat-Regular.ttf')
			format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'MontserratBold';
	src: local('Montserrat-Bold'),
		url('../../Assets/Montserrat/Montserrat-Bold.ttf')
			format('truetype');
	font-weight: normal;
}

/* custom stylesheet */

.inventoryaddcard-container{
     width: 100%;
      height: auto;
      position: absolute;
      background: #7bb19065;
      z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.addcard{
      width: 30%;
      height: auto;
      background: #fff;
      box-shadow: 0 0 10px #231f206b;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.addcard-header{
      width: 100%;
      height: 80px;
}
.addcard-header-top{
      width: 100%; 
      height: 40px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
}

.addcard-header-top img{
      width: 20px;
      height: 20px;
      margin-right: 20px;
      margin-top: 10px;

}

.addcard-header-bottom{
      width: 100%; 
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.addcard-header-bottom h3{
      font-family: "MontserratBold";
      font-size: 100%;
      font-weight: 900;
      color: #231f20;
      margin-right: 15px;
}

.addcard-body{
      width: 80%;
      height: 100%;
      border-top: 1px solid #e2e2e2;
       overflow-y: scroll;
}

.addcard-body form{
      width: 100%;
      height: 70%;
       display: flex;
      flex-direction: column;
      align-items: center;
        margin-top:10px;
        overflow-y: scroll;
        border-bottom: 1px solid #e2e2e2;
}
.addcard-form-content{
       width: 80%;
       height: 60px;
       display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top:10px;
     
}

.addcard-form-content label{
    font-size: 13px;
    color: #249170;
    font-family: 'MontserratRegular';
}

.addcard-select{
      width: 100%;
      margin-top: -10px;
}

.addcard-image-content{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.addcard-image-content label{
    font-size: 13px;
    color: #249170;
    font-family: 'MontserratRegular';
}

.addcard-image{
      width: 100px;
      height: 60px;
      background: #e6e4e4;
      margin-top: -10px;
}

.addCard-button{
      margin-top: 20px;
      margin-bottom: 30px;
}