/* Predefine fonts */

@font-face {
  font-family: "MontserratSemiBold";
  src: local("Montserrat-SemiBold"),
    url("../../../Assets/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "MontserratRegular";
  src: local("Montserrat-Regular"),
    url("../../../Assets/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Desktop stylesheet */

.address-info-container{
       width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: row;
      align-items: center;
}
.address-info-content{
      width: 70%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
}
.address-info-content h1{
      font-family: "MontserratSemiBold";
      color:  #231f20;
}
.address-info-content p{
        font-family: "MontserratRegular";
      color:  #231f20;
      margin-left: 5px;
      font-size: 100%;
}
.address-info-content form{
        display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
      margin-top: 5%;
}

.address-info-content form label{
      font-size: 14px;
       font-family: "MontserratRegular";
       color: #9b9b9b;
}

.address-info-content form input,.address-info-content form select{
     background: none;
      border: none;
      border: 1px solid #231f20;
      width: 90%;
      height: 100%;
      margin-top: 10px;
      border-radius: 2px;
}

.address-info-content form input:focus, select:focus{
      outline: none;
}

.address-info-content form .bottom{
      margin-top: 30px;
}

.button-container{
      width: 100%;
     margin-top: 70px;
      display: flex;
      align-items: center;
      justify-content: center; 
}
.white{
      margin-left: -40px;
}
.green{
      margin-left: 40px;
}