/* Predefine fonts */

@font-face {
	font-family: 'MontserratSemiBold';
	src: local('Montserrat-SemiBold'),
		url('../../Assets/Montserrat/Montserrat-SemiBold.ttf')
			format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'MontserratRegular';
	src: local('Montserrat-Regular'),
		url('../../Assets/Montserrat/Montserrat-Regular.ttf')
			format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'MontserratBold';
	src: local('Montserrat-Bold'),
		url('../../Assets/Montserrat/Montserrat-Bold.ttf')
			format('truetype');
	font-weight: normal;
}

/* custom stylesheet */


/****** main container *****/
.marketdashboard-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

/****** main container header*****/
.marketdashboard-container-header{
      width: 20%;
      height: 100%;
}

/****** main container body*****/
.marketdashboard-container-body{
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
     
}

.navbar-position-containery{
      width: 50%;
      height: 20%;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 0;
}


 /*********** header starts  here ************/

.dashboard-profile {
	 margin-left: 70px;
       /* margin-top: 70px; */
      width: 40%;
      height: 90px;
}

/* .after-fleet-h2{
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: -30px;
} */
/* 
.dashboard-fleet h2 {
	font-weight: 900;
	font-size: 30px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
} */

/* .dashboard-fleet p {
	font-weight: 900;
	font-size: 12px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
	
} */
.dashboard-profile img{
	margin-left: 10px;
	margin-top: 30px;
	transform: rotate(90deg);
	width: 20px;
	height: 20px;
}


 /*********** header ends  here ************/

  /*********** marketdashboardinventory content container starts here ********/

  .marketdashboardprofile-content-container {
 	width: 120%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow: hidden; 
      overflow-y: scroll;
      scrollbar-width: none;
      margin-top: 45px;
      margin-left: 60px ;
      padding-left:50px;
      /* background: red; */
}

.dashboardsolid-containter{
      width: 85%;
      margin-left: -50px;
}

.profile-container{
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
      height: auto;
      background: #fff;
      border-radius: 10px;
    border: .5px solid #231f2027;
    display: flex;
   align-items: center;
    flex-direction: column;
}
.profile-container-header{
      width: 90%;
      height: 50px;
      border-bottom: .5px solid #231f2027;
}

.profile-container-header h3{
         font-family: "MontserratBold";
      font-size: 17px;
      margin-top: 17px;
      color: #231f20;
}
.profile-container-section-one{
      width: 85%;
      height: 130px;
       border: .5px solid #231f2027;
       border-radius: 10px;
       margin-top: 10px;
       display: grid;
       grid-template-columns: 1fr 5fr;
}
.profile-container-section-two{
      width: 87%;
      height: 130px;
       border-bottom: .5px solid #231f2027;
       margin-top: 25px;
       display: flex;
       justify-content: center;
      
}
.profile-section-two-inner{
      width: 100%;
      height: 90%;
      border-radius: 10px;
      background: #e6f0f1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.profile-section-two-inner p{
      margin: 0;
      font-family: "MontserratSemiBold";
      font-size: 14px;
      color: #231f20;
      cursor: pointer;
}

.profile-section-two-content{
      width: 98%;
      height: 95%;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       grid-gap: 10px;
}

.profile-last{
      background: #3daf73;
}
.profile-active{
       border: 2px solid #3daf73;
}

.profile-last p {
      color: #fff;
}

.profile-container-section-three{
     
      width: 87%;
      height: auto;
       margin-top: 25px;
       display: flex;
       justify-content: center;
      
}

.profile-section-three-content{
      width: 98%;
      height: 95%;
  
      
}

.profile-section-three-content-form{
      width: 100%;
     margin-left: 20px;
}

.profile-bottunr{
      margin-left: -10px;
}


.profile-container-section-four{
     
      width: 87%;
      height: auto;
       /* border-bottom: .5px solid #231f2027; */
       margin-top: 25px;
       display: flex;
       justify-content: center;
      
}

.profile-section-four-content{
      width: 98%;
      height: 95%;
            display: none;
      
}

.profile-section-four-content-form{
      width: 100%;
     margin-left: 20px;
}

.profile-profile-image{
      width: 100px;
      height: 100px;
      /* background: #dfd9d9; */
      margin-left: 20px;
      margin-top: 10px;
      border-radius: 50px;
        border: .5px solid #231f2027;
}

.profile-profile-image img{
      width: 100%;
      height: 100%;
}

.profile-content-container{
      width: 100%;
      height: 100%;
}

.pcc-header{
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: space-between;
}

.pcc-header-left{
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.pcc-header-left h3{
   margin: 0;
     font-family: "MontserratBold";
      font-size: 17px;
      color: #231f20;
      cursor: pointer;
}

.pcc-header-left p{
      margin: 0;
      margin-top: 5px;
       font-family: "MontserratRegular";
      font-size: 12px;
      color: #231f20;
      cursor: pointer;


}

.pcc-header-right{
      margin: 0;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      justify-content: center;
}

.complete-profile{
      width: 200px;
      height: 40px;
     border:  1px solid #3daf73;
      margin-right: 40px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.complete-profile p{
      
      font-family: "MontserratBold";
      font-size: 14px;
      color: #3daf73;
      cursor: pointer;
}

.pcc-body{
      width: 100%;
      height: 40%;
      /* background: red; */
}

.pcc-body-content{
      width: 95%;
      height: 10px;
      background: #dfd9d9;
      border-radius: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.pcc-body-content-slide{
      width: 100%;
      height: 100%;
      background: #3daf73;
      
}

.pccf{
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
}