/* Predefine fonts */

@font-face {
  font-family: "MontserratSemiBold";
  src: local("Montserrat-SemiBold"),
    url("../../Assets/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "MontserratRegular";
  src: local("Montserrat-Regular"),
    url("../../Assets/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

/* custom stylesheet */

.verify-container{
      width: 100%;
      height: 100vh;
      background-image: url('../../Assets/GeneralIcons/FHAssets-61.svg');
      display: flex;
      justify-content: center;
      align-items: center;
}
.verify-content-container{
      width: 40%;
      height: auto;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 0 3px #231f20;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
}

.verify-content-container img{
      width: 70px;
      height: 50px;
      margin-top: 50px;
}

.verify-content-container h1{
      font-family: "MontserratSemiBold";
      font-size: 100%;
      color: #231f20;
     
}
.verify-content-container p{
      font-family: "MontserratRegular";
      font-size: 70%;
      text-align: center;
      width: 50%;
      color: #231f20;
       margin-top: 10px;
}
.verify-content-green{
      margin-top: 40px;
      margin-left: -40px;
      
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
      .verify-container{
      width: 100%;
      height: 100vh;
       background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
}
.verify-content-container{
      width: 50%;
      height: auto;
      background: #fff;
      border-radius: 20px;
      box-shadow: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
    padding-bottom: 30px;
}
.verify-content-container p{
      font-family: "MontserratRegular";
      font-size: 70%;
      text-align: center;
      width: 70%;
      color: #231f20;
       margin-top: 10px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
      .verify-container{
      width: 100%;
      height: 100vh;
       background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
}
.verify-content-container{
      width: 50%;
      height: auto;
      background: #fff;
      border-radius: 20px;
      box-shadow: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
    padding-bottom: 30px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.verify-container{
      width: 100%;
      height: 100vh;
       background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
}
.verify-content-container{
      width: 50%;
      height: auto;
      background: #fff;
      border-radius: 20px;
      box-shadow: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
    padding-bottom: 30px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
      .verify-container{
      width: 100%;
      height: 100vh;
      background-image: url('../../Assets/GeneralIcons/FHAssets-61.svg');
      display: flex;
      justify-content: center;
      align-items: center;
}
.verify-content-container{
      width: 50%;
      height: auto;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 0 3px #231f20;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
    padding-bottom: 30px;
}
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
      .verify-container{
      width: 100%;
      height: 100vh;
      background-image: url('../../Assets/GeneralIcons/FHAssets-61.svg');
      display: flex;
      justify-content: center;
      align-items: center;
}
.verify-content-container{
      width: 40%;
      height: auto;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 0 3px #231f20;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
    padding-bottom: 30px;
}
}