/* Predefine fonts */

@font-face {
	font-family: 'MontserratSemiBold';
	src: local('Montserrat-SemiBold'),
		url('../../../Assets/Montserrat/Montserrat-SemiBold.ttf')
			format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'MontserratRegular';
	src: local('Montserrat-Regular'),
		url('../../../Assets/Montserrat/Montserrat-Regular.ttf')
			format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'MontserratBold';
	src: local('Montserrat-Bold'),
		url('../../../Assets/Montserrat/Montserrat-Bold.ttf')
			format('truetype');
	font-weight: normal;
}

/* custom stylesheet */


/****** main container *****/
.marketdashboard-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

/****** main container header*****/
.marketdashboard-container-header{
      width: 20%;
      height: 100%;
}

/****** main container body*****/
.marketdashboard-container-body{
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
     
}

.navbar-position-containery{
      width: 50%;
      height: 20%;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 0;
}


 /*********** header starts  here ************/

.dashboard-inventory {
	 margin-left: 70px;
       margin-top: 70px;
      width: 40%;
      height: 90px;
}

.dashboard-inventory h2 {
	font-weight: 900;
	font-size: 30px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
}

 /*********** header ends  here ************/

   /*********** marketdashboardinventory content container starts here ********/

  .marketdashboardinventorylist-content-container {
 	width: 120%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow: hidden; 
      overflow-y: scroll;
      scrollbar-width: none;
      margin-top: 45px;
      margin-left: 60px ;
      padding-left:50px;
      /* background: red; */
}

.dashboardsolid-containter{
      width: 85%;
      margin-left: -50px;

}

.dashboard-inventorylist {
	 margin-left: 70px;
      width: 40%;
      height: 90px;
}

.dashboard-inventorylist h2 {
	font-weight: 900;
	font-size: 30px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
}
.inventorylist-dashboard-header{
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-between;

}
.inventorylist-left{
      height: 100%;
      display: flex;
      align-items: center;
}
.inventorylist-left p{
     margin: 0;
     font-family: "MontserratRegular";
      font-size: 12px;
       color: #249170;
       margin-left: 10px;

}
.inventorylist-left input{
      width: 18px;
      height: 18px;
      border: none;
      background: #fff;
        margin-left: 5px;

}
.inventorylist-right{
      width: 70px;
      height: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
}
.inventorylist-icon-left,.inventorylist-icon-right{
      width: 100%;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
}
.inventorylist-icon-left{
      border-right: 1px solid #b7dec0;
}

.inventorylist-icon-left img{
      filter: brightness(0) invert(.8);
}

.inventorylist-icon-left img, .inventorylist-icon-right img{
      width: 80%;
      height: 80%;
}

.inventorylist-dashboard-body{
      width: 100%;
      height: 100%;
      background: #249170b7;
      margin-top: 10px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

}
.inventorylist-dashboard-body-header{
      width: 100%;
      background: rgb(0, 255, 157);
      height: 60px;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px; 
       border: .5px solid #231f2027;
      margin-top: 10px;


}
.inventorylist-dashboard-body-body{
      margin: 0;
      width: 100%;
      height: auto;
      background: #fff;
       border: .5px solid #231f2027;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px; 
      margin-bottom: 20px;
      margin-top: -10px;

}
.inven-body-header{
      display: flex;
      align-items: center;
      justify-content: flex-start;
}
.inven-body-header h3{
      font-weight: 900;
	font-size: 12px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
}
.inven-body-header p,.inven-body-header-clear p {
      font-size: 14px;
	font-family: 'MontserratRegular';
	color: #231f20;
}
.inven-body-header span{
      font-weight: 900;
	font-family: 'MontserratSemiBold';
}
.inven-body-header-clear p{
      color: #c4c4c4;
      font-size: 16px;
}
.inventorylist-dashboard-body-body-contents{
      width: 100%;
      height: 40px;
       display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
}

.inven-body-header-clear{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 50px;
}
.inven-body-header-top{
      display: flex;
      align-items: center;
      justify-content: center;
}

.inven-body-header-img{
      width: 20px;
      height: 20px;
}
.inven-body-header-img img{
      width: 100%;
      height: 100%;
}
.inventorylist-contents hr{
      width: 85%;
}
.inventory-add-card{
      width: 17%;
      height: 35px;
      background: #ece4e4;
      border-radius: 30px;
      margin-left: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 20px;

}


.inventory-add-card img{
      width: 15px;
      height: 15px;
}

.inventory-add-card h3{
      font-weight: 900;
	font-size: 12px;
	font-family: 'MontserratSemiBold';
	color: #3daf73;
      margin-left: 10px;
      cursor: pointer;
}