/* Predefine fonts */

@font-face {
	font-family: 'MontserratSemiBold';
	src: local('Montserrat-SemiBold'),
		url('../../../Assets/Montserrat/Montserrat-SemiBold.ttf')
			format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'MontserratRegular';
	src: local('Montserrat-Regular'),
		url('../../../Assets/Montserrat/Montserrat-Regular.ttf')
			format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'MontserratBold';
	src: local('Montserrat-Bold'),
		url('../../../Assets/Montserrat/Montserrat-Bold.ttf')
			format('truetype');
	font-weight: normal;
}

/* custom stylesheet */


/****** main container *****/
.marketdashboard-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

/****** main container header*****/
.marketdashboard-container-header{
      width: 20%;
      height: 100%;
}

/****** main container body*****/
.marketdashboard-container-body{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
     
}

.navbar-position-containery{
      width: 50%;
      height: 20%;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 0;
}


 /*********** header starts  here ************/

.dashboard-transaction {
	 margin-left: 70px;
       /* margin-top: 70px; */
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: space-between;
}

.dashboard-transaction h2 {
	font-weight: 900;
	font-size: 30px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
}
.dashboard-transaction-right{
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 1000;
}
.dashboard-transaction-right input{
      height: 35px;
      border: none;
      border-radius: 5px;
      border: .5px solid #837b7d;
      transition: .5s;
}
.dashboard-transaction-right input:focus{
      outline: none;
      border: .5px solid #249170;
}
.search-icon{
      width: 20px;
      height: 25px;
      /* background: red; */
      margin-left: 10px;
      position: absolute;
}
.search-icon img{
      width: 100%;
      height: 100%;
}
 /*********** header ends  here ************/

  /*********** marketdashboardinventory content container starts here ********/

  .marketdashboardtransaction-content-container {
 	width: 120%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow: hidden; 
      overflow-y: scroll;
      scrollbar-width: none;
      margin-top: 45px;
      margin-left: 60px ;
      padding-left:50px;
      /* background: red; */
}

.dashboardsolid-containter{
      width: 85%;
      margin-left: -50px;
}

  /*********** inventory-dashboard-header starts here ********/











.transaction-dashboard-body{
      width: 100%;
      height: auto;
      background: #fff;
      margin-top: 5px;
      margin-left: 5px;
      margin-bottom: 20px;
      border-radius: 10px;
      border: .5px solid #231f2027;


}
.transaction-dashboard-body-header{
      width: 100%;
      height: 90px;
      margin: 0;
      display: flex;
      align-items: center;
    


}
.transaction-dashboard-body-body{
      width: 100%;
      height: 100%;
      margin-top: 20px;

}
.transaction-body-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
}
.transaction-body-header-inner{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-left: 23px;
}
.inner-second{
      width: 13%;
      display: flex;
      align-items: center;
      margin-right: 155px;
}

.transaction-body-content{
      display: flex;
      align-items: center;
      justify-content: flex-start;
}
.transaction-body-header p{
	font-size: 13px;
      margin-left: 30px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
     
}
.transaction-body-content p,.transaction-body-content-clear p {
      font-size: 80%;
	font-family: 'MontserratRegular';
	color: #231f20;
      margin-left: 5px;
}
.transaction-body-content span{
      font-weight: 900;
	font-family: 'MontserratSemiBold';
}
.transaction-body-content-clear p{
      color: #c4c4c4;
      font-size: 30px;
}
.transaction-dashboard-body-body-contents{
      width: 90%;
      height: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

.transaction-body-content-clear{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -8px;
      height: 40px;
      
}
.transaction-contents{
       width: 100%;
      height: 100%;
      margin-top: -10px;
      display: flex;
      align-items: center;
      flex-direction: column;
}
.transaction-contents hr{
      width: 90%;
      border: none;
      height: 1px;
      color: #231f2027;
      background-color: #231f2027;
}

.transaction-body-content h3{
      font-weight: 900;
	font-size: 14px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
     
}



.transaction-dashboard-body-two{
       width: 100%;
      height: auto;
      margin-top: 8%;
      margin-left: 5px;
      margin-bottom: 20px;
      border-radius: 10px;
    
}

.transaction-dashboard-body-two-screens{
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 1.5fr 2fr;
      grid-gap: 20px;
}
.transaction-dashboard-body-two-screen-left{
      width: 100%;
      height: 300px;
      border: .5px solid #231f2027;
       border-radius: 10px;
        background: #fff;

}
.transaction-dashboard-body-two-screen-right{
      width: 100%;
      height: 300px;
      border: .5px solid #231f2027;
       border-radius: 10px;
        background: #fff;

}

.transaction-body-header-inner select{
      width: 40px;
      height: 25px;
      margin-left: 5px;
      border: .5 solid #6d636627 !important;
      border-radius: 4px;
      background-color: #fff;
      margin-right: -25px;
}

.hrderd{
      width: 90%;
      background: rgb(255, 245, 247);
     border-top:  .5px solid #231f2027;
     border-bottom:  .5px solid #231f2027;
      display:  flex;
     align-items: center;
     justify-content: center;
}

.heerderd{
       width: 90%;
       margin-top: 10px;
     border-bottom:  .5px solid #231f2027;
     display:  flex;
     align-items: center;
     justify-content: center;
}

.transaction-body-header-inner h3{
	font-size: 13px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
      margin-left: 30px;
}

.transaction-bottom{
        width: 13%;
      display: flex;
      align-items: center;
      margin-right: 155px;
}

.transaction-bottom-right{
      display: flex;
      justify-content: center;
      align-items: center;
}

.icon-less{
      width: 15px;
      height: 15px;
      transform: rotate(90deg);
       filter: brightness(0) invert(.7);
}

.icon-greater{
      width: 15px;
      height: 15px;
      transform: rotate(270deg);
      filter: brightness(0) invert(.7);
      margin-left: 10px;
}

.tr-span-one{
      width: 30px;
      height: 30px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
     
}

.span-one-active{
 background: #3daf73;
 color: #fff !important;
}



.tr-span-content{
      display: flex;
}

.tr-span-one p{
      margin: 0;
      font-size: 15px;
	font-family: 'MontserratRegular';
	color: #231f20;
}
.tr-cedis{
      width: 15px;
      height: 15px;
      filter: brightness(0) invert(.5);
}