/* Predefine fonts */

@font-face {
  font-family: "MontserratSemiBold";
  src: local("Montserrat-SemiBold"),
    url("../../Assets/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "MontserratRegular";
  src: local("Montserrat-Regular"),
    url("../../Assets/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

/* custom stylesheet */

.signup-container{
      width: 100%;
      height: 100vh;
      background-image: url('../../Assets/GeneralIcons/FHAssets-61.svg');
      display: flex;
      justify-content: center;
      align-items: center;
}
.signup-content-container{
      width: 40%;
      height: 90%;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 0 3px #231f20;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
}

.signup-content-container img{
      width: 70px;
      height: 50px;
      margin-top: 50px;
}

.signup-content-container h1{
      font-family: "MontserratSemiBold";
      font-size: 30px;
      color: #231f20;
     
}
.signup-content-container p{
      font-family: "MontserratRegular";
      font-size: 13px;
      color: #231f20;
       margin-top: -10px;
}

.signup-content-container .span-signup{
      color: #3daf73;
}
.signup-content-container form{
      width: 45%;
      margin-top: 10px;
   
}
.signup-content-container .form-content input,.signup-content-container .form-content select{
      background: none;
      border: none;
      border: 1px solid #231f20;
      width: 100%;
      height: 40px;
      margin-top: 10px;
      border-radius: 2px;

}
.signup-content-container .form-content input:focus,.signup-content-container .form-content select:focus{
         outline: none;
}

.signup-content-container  .form-content label{
       font-size: 13px;
       font-family: "MontserratRegular";
       color: #9b9b9b;
}

.signup-content-container .form-content{
      margin-top: 10px;
}

.signup-green{
      margin-top: 40px;
      margin-left: 0px;

}
.signup-select{
      width: 102%;
}
.form-content-container{
      width: 100%;
      height: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      margin-bottom: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
          .signup-container{
      width: 100%;
      height: 100vh;
   background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
}
.signup-content-container{
      width: 100%;
      height: auto;
      background: #fff;
      border-radius: 20px;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
    

}
      .form-content-container{
      width: 100%;
      height: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      margin-bottom: 20px;
}
.signup-content-container form{
      width: 80%;
      margin-top: 10px;
   
}
.signup-content-container h1{
      font-family: "MontserratSemiBold";
      font-size: 140%;
      color: #231f20;
     
}
.signup-content-container p{
      font-family: "MontserratRegular";
      font-size: 70%;
      color: #231f20;
       margin-top: -10px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
          .signup-container{
      width: 100%;
      height: 100vh;
   background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
}
.signup-content-container{
      width: 100%;
      height: auto;
      background: #fff;
      border-radius: 20px;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
    

}
      .form-content-container{
      width: 100%;
      height: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      margin-bottom: 20px;
}
.signup-content-container form{
      width: 80%;
      margin-top: 10px;
   
}
.signup-content-container h1{
      font-family: "MontserratSemiBold";
      font-size: 140%;
      color: #231f20;
     
}
.signup-content-container p{
      font-family: "MontserratRegular";
      font-size: 70%;
      color: #231f20;
       margin-top: -10px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
       .signup-container{
      width: 100%;
      height: 100vh;
   background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
}
.signup-content-container{
      width: 40%;
      height: auto;
      background: #fff;
      border-radius: 20px;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
    

}
      .form-content-container{
      width: 100%;
      height: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      margin-bottom: 20px;
}
.signup-content-container form{
      width: 75%;
      margin-top: 10px;
   
}
.signup-content-container h1{
      font-family: "MontserratSemiBold";
      font-size: 140%;
      color: #231f20;
     
}
.signup-content-container p{
      font-family: "MontserratRegular";
      font-size: 70%;
      color: #231f20;
       margin-top: -10px;
}
.signup-content-container form{
      width: 80%;
      margin-top: 10px;
   
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
       .signup-container{
      width: 100%;
      height: 100vh;
      background-image: url('../../Assets/GeneralIcons/FHAssets-61.svg');
      display: flex;
      justify-content: center;
      align-items: center;
}
.signup-content-container{
      width: 50%;
      height: auto;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 0 3px #231f20;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
    

}
      .form-content-container{
      width: 100%;
      height: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      margin-bottom: 20px;
}
.signup-content-container form{
      width: 45%;
      margin-top: 10px;
   
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
      .signup-container{
      width: 100%;
      height: 100vh;
      background-image: url('../../Assets/GeneralIcons/FHAssets-61.svg');
      display: flex;
      justify-content: center;
      align-items: center;
}
.signup-content-container{
      width: 40%;
      height: auto;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 0 3px #231f20;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
    

}
      .form-content-container{
      width: 100%;
      height: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      margin-bottom: 20px;
}
.signup-content-container form{
      width: 45%;
      margin-top: 10px;
   
}
}
