/* Predefine fonts */

@font-face {
	font-family: 'MontserratSemiBold';
	src: local('Montserrat-SemiBold'),
		url('../../../Assets/Montserrat/Montserrat-SemiBold.ttf')
			format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'MontserratRegular';
	src: local('Montserrat-Regular'),
		url('../../../Assets/Montserrat/Montserrat-Regular.ttf')
			format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'MontserratBold';
	src: local('Montserrat-Bold'),
		url('../../../Assets/Montserrat/Montserrat-Bold.ttf')
			format('truetype');
	font-weight: normal;
}

/* custom stylesheet */


/****** main container *****/
.marketdashboard-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

/****** main container header*****/
.marketdashboard-container-header{
      width: 20%;
      height: 100%;
}

/****** main container body*****/
.marketdashboard-container-body{
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
     
}

.navbar-position-containery{
      width: 50%;
      height: 20%;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 0;
}


 /*********** header starts  here ************/

.dashboard-fleet {
	 margin-left: 70px;
       /* margin-top: 70px; */
      width: 40%;
      height: 90px;
}

.after-fleet-h2{
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: -30px;
}

.dashboard-fleet h2 {
	font-weight: 900;
	font-size: 30px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
}

.dashboard-fleet p {
	font-weight: 900;
	font-size: 12px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
	
}
.after-fleet-h2 img{
	margin-left: 10px;
	margin-top: 1px;
	transform: rotate(180deg);
	width: 10px;
	height: 10px;
}


 /*********** header ends  here ************/

  /*********** marketdashboardinventory content container starts here ********/

  .marketdashboardfleet-content-container {
 	width: 120%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow: hidden; 
      overflow-y: scroll;
      scrollbar-width: none;
      margin-top: 45px;
      margin-left: 60px ;
      padding-left:50px;
      /* background: red; */
}

.dashboardsolid-containter{
      width: 85%;
      margin-left: -50px;
}

  /*********** inventory-dashboard-header starts here ********/







.fleet-container {
	width: 99%;
	height: 100px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 20px;
	background: #fff;
      border-radius: 5px;
	box-shadow: 0 0 1px #231f20;
	display: grid;
	grid-template-columns: 1.7fr 1.1fr 1.5fr 1fr;
}
.fleet-tracking{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.shipment-dropdown-container{
	width: auto;
	height: auto;
	margin-left: -112px;
	display: none;
	
}
.fleet-location{
	width: 100%;
	height: 100%;
	
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-direction: column;
}
.fleet-position{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.fleet-fee{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fleet-tracking-header{
	width: 100%;
	height: 20px;
	margin-left: 20px;
	margin-top: 0px;
	display: flex;
	align-items: center;
}

.fleet-tracking-header span{
	margin: 0;
     font-family: "MontserratRegular";
      font-size: 12px;
      color: #249170;
  
}

.fleet-tracking-header p{
	margin: 0;
	font-weight: 400;
	font-size: 12px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
}

.fleet-tracking-body{
	width: 100%;
	height: 20px;
	margin-left: 20px;
	margin-top: 0px;
	display: flex;
	align-items: center;
}
.fleet-tracking-icon{
	width: 25px;
	height: 100%;
}
.fleet-tracking-icon img{
	width: 100%;
	height: 100%;
	
}
.fleet-tracking-load{
	width: 50px;
	height: 10%;
	background: #c4c4c4;
	margin-left: 10px;
}

.ftfirst{
	background: #3daf73;
}

.fleet-location-header{
	width: 100%;
	height: 20px;
	display: flex;
	align-items: center;
}
.fleet-location-body{
	width: 100%;
	height: 20px;
	display: flex;
	align-items: center;
	margin-left: 30px;
	margin-top: 5px;
}
.fleet-location-header img{
	width: 20px;
	height: 20px;
	filter:  hue-rotate(200deg);
}

.fleet-location-header p{
	margin: 0;
	font-weight: 400;
	font-size: 12px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
	margin-left: 10px;
}

.fleet-location-body p{
	margin: 0;
	font-weight: 400;
	font-size: 12px;
	font-family: 'MontserratSemiBold';
	color: #c4c4c4;
	

}

.fleet-position-header{
	width: 100%;
	height: 20px;
	display: flex;
	align-items: center;
}
.fleet-position-body{
	width: 100%;
	height: 20px;
	display: flex;
	align-items: center;
	margin-left: 30px;
	margin-top: 5px;
}
.fleet-position-header img{
	width: 20px;
	height: 20px;
	transform: rotate(270deg);
}
.fleet-position-body img{
	width: 15px;
	height: 15px;
}
.fleet-position-header p{
	margin: 0;
	font-weight: 400;
	font-size: 12px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
	margin-left: 30px;
}

.fleet-position-body p{
	margin: 0;
	font-weight: 400;
	font-size: 12px;
	font-family: 'MontserratSemiBold';
	color: #c4c4c4;
	margin-left: 10px;

}




.fleet-fee h3{
	font-weight: 400;
	font-size: 14px;
	font-family: 'MontserratSemiBold';
	color: #231f20;
}

